<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fireminder.podcastcatcher" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".IvyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activities.PodcastsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="itpc" />
                <data android:scheme="pcast" />
                <data android:scheme="feed" />
                <data android:scheme="rss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern=".*xml"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*rss"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*feed.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*podcast.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*Podcast.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*rss.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*RSS.*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="text/xml"
                    android:scheme="http" />
                <data
                    android:mimeType="application/rss+xml"
                    android:scheme="http" />
                <data
                    android:mimeType="application/atom+xml"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ChannelActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_channel" >
        </activity>
        <activity
            android:name=".ui.activities.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".ui.activities.RecentsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <service
            android:name=".services.SubscriptionService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <provider
            android:name=".provider.PodcastCatcherProvider"
            android:authorities="com.fireminder.podcastcatcher"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".services.RetrieveEpisodeService"
            android:exported="false" >
        </service>
        <service
            android:name=".services.RetrieveRecentEpisodesService"
            android:exported="false" >
        </service>
        <service
            android:name=".sync.SyncService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".sync.AuthenticatorService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".services.DownloadManagerService"
            android:exported="false" >
        </service>
        <service
            android:name=".mediaplayer.MediaPlayerService"
            android:exported="false" >
        </service>

        <service android:name=".services.EpisodeDatabaseSync"
                 android:exported="false"/>

        <receiver
            android:name=".receiver.DownloadManagerReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.PreferenceActivity"
            android:label="@string/title_activity_preference" >
        </activity>
    </application>

</manifest>
